.card {
  border-radius: 100px;
  width: 125px;
  height: 125px;
  border: 0.3rem solid black;
}

.pointer {
  cursor: pointer;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
